.start-node {
  background-color: #6FEF8D;
  border-radius: 0px 15px 15px 0px;
}

.middle-node {
  background-color: #F2855E;
  border-radius: 15px
}

.end-node {
  background-color: #FFA6A3;
  border-radius: 15px 0 0 15px
}

.pocket-node-text {
  font-size: 1rem;
  /* justify-content: center; */
  line-height: 100px;
  color: black;
  font-weight: 400;
}
