.MuiDataGrid-root {
    color: white;
}

.MuiToolbar-root{
    color: white;
}

.MuiTablePagination-actions button span{
    color: white;
}

.MuiSvgIcon-root {
    color:white;
}

.MuiDataGrid-cell, .MuiDataGrid-columnHeaderTitle{
    color: white;
}