.App {
  font-family: "Work Sans";
  background-color: #194769;
  overflow-y:hidden;
}

/* This is for the editor canvas */
.react-flow__pane {
  background-size: 20px 20px;
  background-image: radial-gradient(circle, #9dbddb4f, 0.5px, transparent 1px);
}

.flowboat-node {
  background-color: #173E61;
  border-left: 0;
  padding: 1;
  min-height: 100px;
  color: white;
  text-align: center;
}

.dndflow {
  flex-direction: column;
  display: flex;
  height: 100vh;
}

.dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
  height: 100vh;
}

.dndflow aside > * {
  margin-bottom: 10px;
  cursor: grab;
}

.dndflow aside .description {
  margin-bottom: 10px;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 100%;
    max-width: 180px;
  }
}

/* This is for scatter plot style */
.domain {
  stroke: white;
}

.tick line {
  stroke: white;
}
.tick text, .legendCells text {
  fill: white;
}
.axis-label, .legend-label {
  fill: white;
}

.home-page-jumbotron {
  height: 700px;
  width: 100vw;
  background-color: #194769;
  padding-top: 140px;
  /* background-color: #173E61;
  background-color: #627f9a; */
}

.home-page-jumbotron h1 {
  color: rgba(255, 255, 255, 0.979);
  /* width: 45%; */
  margin-left: 8%;
  font-weight: bold;
  font-size: 50px;
  display: inline-block;
}

.home-page-jumbotron h2 {
  color: rgba(255, 255, 255, 0.712);
  /* width: 40%; */
  margin-left: 8%;
  display: inline-block;
}

.home-page-jumbotron img {
  /* color: rgba(255, 255, 255, 0.712); */
  width: 90%;
  margin-left: 5%;
  display: inline-block;
  /* margin-left: 8%; */
  border-radius: 15px;
}

.home-page-section1 {
  height: 100%;
  width: 100vw;
  /* background-color: #194769; */
  padding-top: 50px;
  padding-bottom: 120px;
  /* background-color: #173E61; */
  background-color: #627f9a;
}

.home-page-section1 h1 {
  color: rgba(255, 255, 255, 0.979);
  font-weight: bold;
  font-size: 50px;
  font-weight: bold;
}

.home-page-section1 h2 {
  color: rgba(255, 255, 255, 0.712);
  /* width: 40%; */
  /* margin-left: 8%; */
}

.home-page-section1 img {
  border-radius: 15px;
}

.home-page-footer {
  height: 180px;
  color: rgba(255, 255, 255, 0.836);
  text-align: center;
}