.App {
  font-family: "Work Sans";
}

/* This is for the editor canvas */
.react-flow__pane {
  background-color: #4f82b6;
}

.flowboat-node {
  background-color: #21415E;
  border: 1px solid white;
  border-left: 0;
  padding: 1;
  min-height: 100px;
  color: white;
  text-align: center;
}

.dndflow {
  flex-direction: column;
  display: flex;
  height: 100vh;
}

.dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
}

.dndflow aside > * {
  margin-bottom: 10px;
  cursor: grab;
}

.dndflow aside .description {
  margin-bottom: 10px;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 100%;
    max-width: 180px;
  }
}

/* This is for scatter plot style */
.domain {
  stroke: white;
}

.tick line {
  stroke: white;
}
.tick text, .legendCells text {
  fill: white;
}
.axis-label, .legend-label {
  fill: white;
}